<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add to Wishlist</title>
</head>
<body>
    <h1>Add to Wishlist</h1>

    <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    <form action="{{ url_for('product.add_to_wishlist', product_id=product.id) }}" method="POST">
        <button type="submit">Add to Wishlist</button>
    </form>
</body>
</html>

