/* Custom Gold Card Background */
.card-gold {
    background-color: white; /* Gold color */
    border: 2px solid white; /* Slightly darker border to match */
    border-radius: 5%;
}

.card-gold .card-title, .card-gold .form-label {
    color: black; /* White text on gold background */
}

.image-stack {
    display: flex;
    flex-direction: column; /* Stacks images vertically */
    align-items: center; /* Center the images horizontally */
    margin-left: 20px; /* Add space between the card and the images */
}

.side-image {
    width: 190px; /* Adjust image size */
    height: 190px;
    object-fit: cover;
    border-radius: 1%; /* Makes images circular */
    margin-bottom: 40px; /* Space between stacked images */
    margin-top: 20px;
}

.side-image:last-child {
    margin-bottom: 0; /* Remove margin for the last image */
    margin-top: 20px;
}
