yvonne@DESKTOP-RB87F2G:~/e-commerce$ cat entry/static/styles/login.css
/* Custom Gold Card Background */
.card-gold {
    background-color: white; /* Gold color */
    border: 2px solid white; /* Slightly darker border to match */
    border-radius: 5%;
}

.card-gold .card-title, .card-gold .form-label {
    color: black; /* White text on gold background */
}

.form-control {
    background-color: green;
}

.image-stack {
    display: flex;
    flex-direction: column; /* Stacks images vertically */
    align-items: center; /* Center the images horizontally */
    margin-left: 40px; /* Add space between the card and the images */
}

.side-image {
    width: 260px; /* Adjust image size */
    height: 260px;
    object-fit: cover;
    border-radius: 1%; /* Makes images circular */
    margin-top: 70px;
    margin-bottom: 40px; /* Space between stacked images */
}

.side-image:last-child {
    margin-bottom: 0; /* Remove margin for the last image */
}

.navbar {
    margin-bottom: 20px;
    border: 3px green;
}
